body{
    margin-top: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.avatar{
    width: 150px;
}
@keyframes color-swap
{
    from {background-color: #000b6d;}
    to {background-color: #ec9349;}
}
.card
{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    color: #e0dfdf;
    background-color: #000b6d;
    box-shadow: 10px 10px 3px #ec9349;
    text-align: center;

}
.card:hover
{
    animation-name: color-swap;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
h3:hover, p:hover, h4:hover
{
    text-decoration: underline;
    text-transform: uppercase;
}
