body{
    margin: 0;
}
.nav-wrapper
{
    display: flex;
    justify-content: space-around;

}
.item{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.text{
    color: #222222;
    background: lightgrey;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid red;
    border-radius: 20px;
}
.ffbutton
{
    color: #0f1419;
    font-weight: bold;
    border: 1px solid #9fa5a8;
    border-radius: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;


}
.fbutton{
   margin-top: 20px;
   width: 100px;
   margin-left: auto;
   margin-right: auto;

}
.red{
    height: 100px;
    background: red;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blue
{
    height: 100px;
    background: blue;
    margin-bottom: 10px;
}
.green
{
    height: 100px;
    background: green;
}